.wrapper {
    width: 100%;
    // height: 1000px;
    background-color: white;
    border-radius: 10px;
}

.loader {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}
