.wrapper {
    width: 320px;
    height: fit-content;
    border-radius: 10px;
    background-color: #fff;
    padding: 25px 10px;
    position: relative;

    .lock {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        background-color: rgba($color: #000000, $alpha: 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;

        svg {
            width: 50px;
            height: 50px;
            fill: white;
        }
    }

    img {
        width: 100%;
        border-radius: 10px 10px 0 0;
        object-fit: cover;
        height: 250px;
    }

    img + div {
        padding: 0 15px;
    }

    h3 {
        font-size: 19px;
        line-height: 23px;
        color: #000;
        margin: 15px 0 20px 0;

        svg {
            transition: 0.2s;
            opacity: 0;
            margin-left: 10px;
            cursor: pointer;
        }

        &:hover {
            svg {
                opacity: 1;
                transition: 0.2s;
            }
        }
    }

    p {
        opacity: 0.6;
        color: #000;
        // height: 120px;
        overflow: hidden;
    }

    a {
        color: #0276d5 !important;
        text-decoration: none;
    }

    p + a::after {
        content: ' ]';
    }

    p + a::before {
        content: '[ ';
    }
}

@media screen and (max-width: 650px) {
    .wrapper {
        width: 100%;
        margin-bottom: 20px;

        img {
            width: 250px;
            margin: auto;
            display: block;
        }
    }
}
